<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059944276034-blneteel8oihm3vben6qk8lc74atngae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059944276034-blneteel8oihm3vben6qk8lc74atngae</string>
	<key>API_KEY</key>
	<string>AIzaSyD-CCUOQyb88kqrvw1epD3I98CxeJ-h05M</string>
	<key>GCM_SENDER_ID</key>
	<string>1059944276034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blogapp</string>
	<key>PROJECT_ID</key>
	<string>blogapp-db07b</string>
	<key>STORAGE_BUCKET</key>
	<string>blogapp-db07b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059944276034:ios:e33bca6e862d111927cddb</string>
</dict>
</plist>